@(digI: org.opensirf.obj.DigestInformation, index: Int = 0)

@import org.opensirf.obj.DigestInformation

@digestInformation = @{ if(digI == null) new DigestInformation("","", "") else digI } 

<script src="@routes.Assets.versioned("javascripts/dyndigi.js")" type="text/javascript"></script>

<div id="diDiv@index.toString()">

digestOriginator:
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestOriginator" value="@digestInformation.getDigestOriginator()"/>
            
digestAlgorithm:
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestAlgorithm" value="@digestInformation.getDigestAlgorithm()" />

digestValue:
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestValue" value="@digestInformation.getDigestValue()" />

<button type="button" id="removeDigestInformationButton@index.toString()" onclick="removeDigestInformationFormElements(@index.toString())">Remove</button>

</div>
