@(digI: org.opensirf.obj.DigestInformation, index: Int = 0)

@import org.opensirf.obj.DigestInformation

@digestInformation = @{ if(digI == null) new DigestInformation("", "", "") else digI } 

<div id="diDiv@index.toString()">

<dl class=" " id="objectFixity_digestInformation_field">

objectFixity.digestOriginator
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestOriginator" value="@digestInformation.getDigestOriginator()"/>
            
objectFixity.digestAlgorithm
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestAlgorithm" value="@digestInformation.getDigestAlgorithm()" />

objectFixity.digestValue
<input type="text" name="objectFixity.digestInformation[@index.toString()].digestValue" value="@digestInformation.getDigestValue()" />

<button type="button" id="removeDigestInformationButton@index.toString()" onclick="removeDigestInformationFormElements(@index.toString())">Remove</button>

</dl>

</div>
