@(index: Integer)

<script type="text/javascript">
	//$(document).ready(function(){
		function renumber2() {
			alert('renumbering extensionPairsDiv@index');
		    $('#extensionPairsDiv@index').each(function(j) {
		    	$('div', this).each(function(i) {
		            $('input', this).each(function() {
		            	//alert('i='+ i + ' j=' + j + ' replacing objectExtension[@index].objectExtensionPairs[] with objectExtension[@index].objectExtensionPairs[' + i + ']');
		            	//oldname = $(this).attr('name');
		            	newname = $(this).attr('name').replace(/objectExtensionPairs\[.+?\]/g, 'objectExtensionPairs[' + i + ']');
		            	//alert('i=' + i + '; oldname=' + oldname + '; newname=' + newname);
			            $(this).attr('name', newname);
		            })
		        })
		    })
		}
		
		function removeExtensionPairFormElements2(event) {
			alert('removing... epDiv@index' + "-" + event);
			$("#epDiv@index" + "-" + event).remove();
			renumber2();
		}
	//});
</script>
