@(extensionForm: Form[models.Extension], ext: Extension)
@extension = @{ if(ext == null) new Extension("","") else ext } 

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/skeleton.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var counter = @extension.getObjectExtensionPairs().size();
		function addExtensionPairFormElements() {
			var extensionPairDiv = $(document.createElement('div')).attr("id", 'epDiv' + counter);
			var removeExtensionPairButton = $(document.createElement('button')).
			 	attr("id", 'removeExtensionPairButton'+ counter).
			 	text('Remove');	    	         
			removeExtensionPairButton.click({param1: counter}, removeExtensionPairFormElements);
			extensionPairDiv.after().html(
					'objectExtensionKey: <input type="text" name="objectExtensionPairs['+ counter + '].objectExtensionKey" />' +
					' objectExtensionValue: <input type="text" name="objectExtensionPairs['+ counter + '].objectExtensionValue" />');
			extensionPairDiv.append(removeExtensionPairButton);
			$("#extensionPairsDiv").append(extensionPairDiv);
			counter++;
		}
		
		function renumber() {
		    $('#extensionPairsDiv').each(function(j) {
		    	$('div', this).each(function(i) {
		            $('input', this).each(function() {
			            $(this).attr('name', $(this).attr('name').replace(/objectExtensionPairs\[.+?\]/g, 'objectExtensionPairs[' + i + ']'));
		            })
		        })
		    })
		}
		
		function removeExtensionPairFormElements(event) {
			$("#epDiv" + event.data.param1).remove();
			renumber();
		}
	
		$("#addPair").click(addExtensionPairFormElements);
	});
</script>

@helper.form(action = routes.Application.addExtension) {
	<div id="extensionDiv">
	<fieldSet>
		@helper.inputText(extensionForm("objectExtensionOrganization").copy(value=Some(extension.getObjectExtensionOrganization())))
		@helper.inputText(extensionForm("objectExtensionDescription").copy(value=Some(extension.getObjectExtensionDescription())))
		<div id="extensionPairsDiv">
			@if(extension.getObjectExtensionPairs().size() > 0) {
				@for((ep,epIndex) <- extension.getObjectExtensionPairs().zipWithIndex) {
					@extensionPairTemplate(ep, epIndex)
				}
			}
		</div>
	</fieldSet>	
	<br/>
	<button type="button" id="addPair">Add extension pair</button>
	<input type="submit" value="Submit"/>
	</div>
}
