@(extP: org.opensirf.obj.ExtensionPair, index: Int = 0, extensionIndex: Int)

@import org.opensirf.obj.ExtensionPair

@extensionPair = @{ if(extP == null) new ExtensionPair("","") else extP }

<div id="epDiv@extensionIndex-@index.toString()">

extension[@extensionIndex].pairs[@index.toString()].key
<input type="text" name="objectExtension[@extensionIndex].objectExtensionPairs[@index.toString()].objectExtensionKey" value="@extensionPair.getObjectExtensionKey()"/>

extension[@extensionIndex].pairs[@index.toString()].value
<input type="text" name="objectExtension[@extensionIndex].objectExtensionPairs[@index.toString()].objectExtensionValue" value="@extensionPair.getObjectExtensionValue()" />

<button type="button" id="removeExtensionPairButton@extensionIndex.toString.@index.toString()" onclick="removeExtensionPairFormElements(@extensionIndex, @index);">Remove</button>

</div>

