@(ext: org.opensirf.obj.Extension, index: Int = 0)

@import org.opensirf.obj.Extension

@extension = @{ if(ext == null) new Extension("","") else ext } 

@dynamicExtensionJS(extension.getObjectExtensionPairs().size(), index)

<div id="extensionDiv@index">

	extension[@index].organization
	<input type="text" name="objectExtension[@index].objectExtensionOrganization" value="@extension.getObjectExtensionOrganization()"/>
	
	extension[@index].description
	<input type="text" name="objectExtension[@index].objectExtensionDescription" value="@extension.getObjectExtensionDescription()"/>
	
	<div id="extensionPairsDiv@index">
		@if(extension.getObjectExtensionPairs().size() > 0) {
			@for((ep,epIndex) <- extension.getObjectExtensionPairs().zipWithIndex) {
				@extensionPairTemplate(ep, epIndex, index)
			}
		}
	</div>

<button type="button" id="addPair@index" onclick="addExtensionPairFormElements(@index);">Add extension pair</button>

<button type="button" id="removeExtensionButton@index" onclick="removeExtensionFormElements(@index);">Remove extension</button>

<p />

</div>