@(fi: org.opensirf.obj.FixityInformation)

@import org.opensirf.obj.FixityInformation

@fixityInformation = @{ if(fi == null) new FixityInformation() else fi } 

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/skeleton.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
@dynamicFixityInformationJavaScriptTemplate(fixityInformation.getDigestInformation().size())

<div id="fixityInformationDiv">
<fieldSet>
	objectFixity.lastCheckDate:
	<input type="text" name="objectFixity.lastCheckDate" value="@fixityInformation.getLastCheckDate()"/>
	<div id="digestInformationDiv">
		@if(fixityInformation.getDigestInformation().size() > 0) {
			@for((di,diIndex) <- fixityInformation.getDigestInformation().zipWithIndex) {
				@digestInformationTemplate(di,diIndex)
			}
		}
	</div>
</fieldSet>	
<br/>
<button type="button" id="addDigestInformation">Add digest information</button>
</div>
