@(fi: org.opensirf.obj.FixityInformation)
@fixityInformation = @{ if(fi == null) new org.opensirf.obj.FixityInformation() else fi } 

@dynamicFixityInformationJS(fixityInformation.getDigestInformation().size())

<div class="category" id="fixityInformationDiv">
	fixity.lastCheckDate
	<input type="text" name="objectFixity.lastCheckDate" value="@fixityInformation.getLastCheckDate()"/>
	<br/>
	<div id="digestInformationDiv">
		@if(fixityInformation.getDigestInformation().size() > 0) {
			@for((di,diIndex) <- fixityInformation.getDigestInformation().zipWithIndex) {
				@digestInformationTemplate(di,diIndex)
			}
		}
	</div>
<br/>
<button type="button" id="addDigestInformation" onclick="addDigestInformationFormElements();">Add digest information</button>
</div>
