@(poid: org.opensirf.obj.PreservationObjectIdentifier, index: Int = 0)
@presObjId = @{ if(poid == null) new org.opensirf.obj.PreservationObjectIdentifier() else poid }
		
@dynamicIdentifierJS(presObjId.getObjectNames().size(), index)

<h5>identifiers[@index]:</h5>

<div class="subcategory1" id="identifierDiv@index">

identifiers[@index].versionIdentifier.type
<input type="text" name="objectIdentifiers[@index].objectVersionIdentifier.objectIdentifierType" value="@presObjId.getObjectVersionIdentifier().getObjectIdentifierType()"/>

identifiers[@index].versionIdentifier.locale
<input type="text" name="objectIdentifiers[@index].objectVersionIdentifier.objectIdentifierLocale" value="@presObjId.getObjectVersionIdentifier().getObjectIdentifierLocale()"/>

identifiers[@index].versionIdentifier.value
<input type="text" name="objectIdentifiers[@index].objectVersionIdentifier.objectIdentifierValue" value="@presObjId.getObjectVersionIdentifier().getObjectIdentifierValue()"/>

<br />
	
identifiers[@index].parentIdentifier .type
<input type="text" name="objectIdentifiers[@index].objectParentIdentifier.objectIdentifierType" value="@presObjId.getObjectParentIdentifier().getObjectIdentifierType()"/>

identifiers[@index].parentIdentifier .locale
<input type="text" name="objectIdentifiers[@index].objectParentIdentifier.objectIdentifierLocale" value="@presObjId.getObjectParentIdentifier().getObjectIdentifierLocale()"/>

identifiers[@index].parentIdentifier .value
<input type="text" name="objectIdentifiers[@index].objectParentIdentifier.objectIdentifierValue" value="@presObjId.getObjectParentIdentifier().getObjectIdentifierValue()"/>

<br />

identifiers[@index].logicalIdentifier.type
<input type="text" name="objectIdentifiers[@index].objectLogicalIdentifier.objectIdentifierType" value="@presObjId.getObjectLogicalIdentifier().getObjectIdentifierType()"/>

identifiers[@index].logicalIdentifier.locale
<input type="text" name="objectIdentifiers[@index].objectLogicalIdentifier.objectIdentifierLocale" value="@presObjId.getObjectLogicalIdentifier().getObjectIdentifierLocale()"/>

identifiers[@index].logicalIdentifier.value
<input type="text" name="objectIdentifiers[@index].objectLogicalIdentifier.objectIdentifierValue" value="@presObjId.getObjectLogicalIdentifier().getObjectIdentifierValue()"/>

<div class="subcategory2" id="divObjectName@index">
	@if(presObjId.getObjectNames().size() > 0) {
		@for((on,onIndex) <- presObjId.getObjectNames().zipWithIndex) {
			@objectNameTemplate(on, index, onIndex)
		}
	}
</div>

<button type="button" id="addObjectName@index" onclick="addObjectNameFormElements(@index);">Add preservation object name</button>

<button type="button" id="removeIdentifierButton@index" onclick="removeIdentifierFormElements(@index);">Remove identifier</button>

<p />

</div>