@(pon: org.opensirf.obj.PreservationObjectName, nameIndex: Int = 0, identifierIndex: Int)

@import org.opensirf.obj.PreservationObjectName

@objectName = @{ if(pon == null) new PreservationObjectName() else pon }

<div id="onDiv@identifierIndex-@nameIndex">

identifiers[@identifierIndex].names[@nameIndex.toString()].type
<input type="text" name="objectIdentifiers[@identifierIndex].objectNames[@nameIndex.toString()].objectIdentifierType" value="@objectName.getObjectIdentifierType()"/>

identifiers[@identifierIndex].names[@nameIndex.toString()].locale
<input type="text" name="objectIdentifiers[@identifierIndex].objectNames[@nameIndex.toString()].objectIdentifierLocale" value="@objectName.getObjectIdentifierLocale()"/>

identifiers[@identifierIndex].names[@nameIndex.toString()].value
<input type="text" name="objectIdentifiers[@identifierIndex].objectNames[@nameIndex.toString()].objectIdentifierValue" value="@objectName.getObjectIdentifierValue()"/>

<button type="button" id="removeObjectNameButton@identifierIndex.toString()-@nameIndex.toString()" onclick="removeObjectNameFormElements(@identifierIndex, @nameIndex);">Remove</button>

</div>

