@(al: org.opensirf.obj.PreservationObjectAuditLog, index: Int = 0)

@import org.opensirf.audit.PreservationObjectAuditLog

@preservationObjectAuditLog = @{ if(poal == null) new PreservationObjectAuditLog() else poal } 

<div id="preservationObjectAuditLogDiv@index">
	
	objectAuditLog[@index].objectAuditLogReference.referenceType
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceType" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceType()"/>
	            
	objectAuditLog[@index].objectAuditLogReference.referenceRole
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceRole" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceRole()" />
	
	objectAuditLog[@index].objectAuditLogReference.referenceValue
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceValue" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceValue()" />
	
	<button type="button" id="removePreservationObjectAuditLogButton@index" onclick="removePreservationObjectAuditLogFormElements(@index);">Remove audit log</button>
	
	<p />

</div>