@(poal: org.opensirf.audit.PreservationObjectAuditLog, index: Int = 0)

@import org.opensirf.audit.PreservationObjectAuditLog

@preservationObjectAuditLog = @{ if(poal == null) new PreservationObjectAuditLog() else poal } 

<div id="preservationObjectAuditLogDiv@index">
	
	auditLog[@index].reference.type
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceType" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceType()"/>
	            
	auditLog[@index].reference.role
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceRole" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceRole()" />
	
	auditLog[@index].reference.value
	<input type="text" name="objectAuditLog[@index].objectAuditLogReference.referenceValue" value="@preservationObjectAuditLog.getObjectAuditLogReference().getReferenceValue()" />
	
	<button type="button" id="removePreservationObjectAuditLogButton@index" onclick="removePreservationObjectAuditLogFormElements(@index);">Remove PO audit log</button>
	
	<p />

</div>