@(preservationObjectAuditLogForm: Form[org.opensirf.audit.PreservationObjectAuditLog], poal: org.opensirf.audit.PreservationObjectAuditLog)

@import org.opensirf.audit.PreservationObjectAuditLog

@preservationObjectAuditLog = @{ if(poal == null) new PreservationObjectAuditLog() else poal } 

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/skeleton.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

@helper.form(action = routes.Application.addPreservationObjectAuditLog) {
	<div id="preservationObjectAuditLogDiv">
	<fieldSet>
		<div id="auditLogReferenceDiv">
			@auditLogReferenceTemplate(preservationObjectAuditLog.getObjectAuditLogReference())
		</div>
	</fieldSet>	
	<br/>
	<input type="submit" value="Submit"/>
	</div>
}
