@(pos: org.opensirf.catalog.IndexedObjectInformationSet)
@objectSet = @{ if(pos == null) new org.opensirf.catalog.IndexedObjectInformationSet() else pos } 

<div class="category" id="polDiv">
	@if(objectSet.size() > 0) {
		@for(name <- objectSet.getMap().keySet()) {
			PO with version identifier '@name'
			<button type="button" id="editPreservationObjectButton" onclick="window.location = '/editPreservationObject?uuid=@name'">Edit Preservation Object</button>
			<br/>
		}
	}

<button type="button" id="addPreservationObjectButton" onclick="window.location = '/createPOI'">Add new Preservation Object</button>

