@(poiForm: Form[org.opensirf.obj.PreservationObjectInformation], poi: org.opensirf.obj.PreservationObjectInformation)

@import org.opensirf.obj.PreservationObjectInformation

@presObjInfo = @{ if(poi == null) new PreservationObjectInformation() else poi }

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/skeleton.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
	var epIndex = [];
	var onIndex = [];
	var extensionCounter = @presObjInfo.getObjectExtension().size();
	var relatedObjectCounter = @presObjInfo.getObjectRelatedObjects().size();
	var preservationObjectAuditLogCounter = @presObjInfo.getObjectAuditLog().size();
	var identifierCounter = @presObjInfo.getObjectIdentifiers().size();
	var digestCounter = 0;
	
	function toggle(divName) {
		divElement = '#' + divName;
		divToggleButton = '#' + divName + 'ToggleBtn';		
        $(divElement).toggle();
        if($(divToggleButton).text() == '+ ') {
        	$(divToggleButton).text('– ');
        } else {
        	$(divToggleButton).text('+ ');
        }
	}
	
	function addDynamicFormElements(cat, index, subIndex) {
	 var request = $.ajax({
	     url: '/dynamicFormElements?index=' + index + '&subIndex=' + subIndex +	'&category=' + cat,
	     type: "GET",
	     dataType: "html"
	 });
	 request.done(function(msg) {
	 	addCategoryButton = '#add' + cat;
	 	subcategoryDiv = '#div' + cat + index;
	 	
	 	if(subIndex != -1) {
	 		$(subcategoryDiv).append(msg);
	 	}
	 	
	 	else {
	    	$(addCategoryButton).before(msg);
	    }
	  });
	}
	
	function savePO() {
		if("@(poi == null)" == "true") { // New PO - add it
			var client = new XMLHttpRequest();
			var poForm = document.getElementById("poForm");		
			var formData = new FormData(poForm);
			formData.append("inputStream", document.getElementById("poFile").files[0]);
			url = "/addPreservationObjectInformation";
			client.open("POST", url, true);
			client.send(formData);
			alert('PO uploaded successfully.');
			window.location = "/catalog";
		}
		
		else {	// Editing existing PO - save it	
			var client = new XMLHttpRequest();
			var poForm = document.getElementById("poForm");		
			var formData = new FormData(poForm);
			url = "/savePreservationObjectInformation";
			client.open("POST", url, true);
			client.send(formData);
			alert('PO updated successfully.');
			window.location = "/catalog";
		}  
	}

</script>

<script src="@routes.Assets.versioned("javascripts/dynextp.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dynext.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dyndigi.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dynid.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dynobjname.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dynrelobj.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dynauditlog.js")" type="text/javascript"></script>

@menuTemplate()

<div id="main">
@helper.form(action = routes.Application.addPreservationObjectInformation, 'id -> "poForm") {
	<div class="po" id="preservationObjectInformationDiv">
	<fieldSet>
		<h3>Preservation Object</h3>
		
		@* Begin: Dates categories *@
		<h4><a id="datesDivToggleBtn" onclick="toggle('datesDiv')" href="javascript:void(0);">– </a>Dates</h4>
		<div class="category" id="datesDiv">
		@datesTemplate(presObjInfo.getObjectCreationDate(), presObjInfo.getObjectLastModifiedDate(), presObjInfo.getObjectLastAccessedDate())
		</div>
		@* End: Dates categories *@
		
		@* Begin: Retention category *@
		<h4><a id="rDivToggleBtn" onclick="toggle('rDiv')" href="javascript:void(0);">– </a>Retention</h4>
		@retentionTemplate(presObjInfo.getObjectRetention())
		@* End: Retention category *@
		
		@* Begin: Packaging format category *@
		<h4><a id="pfDivToggleBtn" onclick="toggle('pfDiv')" href="javascript:void(0);">– </a>Packaging format</h4>
		@packagingFormatTemplate(presObjInfo.getPackagingFormat())
		@* End: Packaging format category *@
		
		@* Begin: Fixity information category *@
		<h4><a id="fixityInformationDivToggleBtn" onclick="toggle('fixityInformationDiv')" href="javascript:void(0);">– </a>Fixity information</h4>
		@fixityInformationTemplate(presObjInfo.getObjectFixity())
		@* End: Fixity information category *@
		
		@* Begin: Extension category *@
		<h4><a id="extensionsDivToggleBtn" onclick="toggle('extensionsDiv')" href="javascript:void(0);">– </a>Extensions</h4>
		<div class="category" id="extensionsDiv">
			@if(presObjInfo.getObjectExtension().size() > 0) {
				@for((e,eIndex) <- presObjInfo.getObjectExtension().zipWithIndex) {
					@extensionTemplate(e,eIndex)
				}
			}
		<button type="button" id="addExtension" onclick="addExtensionFormElements();">Add extension</button>
		</div>
		@* End: Extension category *@
		
		@* Begin: Identifier category *@
		<h4><a id="identifiersDivToggleBtn" onclick="toggle('identifiersDiv')" href="javascript:void(0);">– </a>Identifiers</h4>
		<div class="category" id="identifiersDiv">
			@if(presObjInfo.getObjectIdentifiers().size() > 0) {
				@for((i,iIndex) <- presObjInfo.getObjectIdentifiers().zipWithIndex) {
					@identifierTemplate(i,iIndex)
				}
			}
		<button type="button" id="addIdentifier" onclick="addIdentifierFormElements();">Add preservation object identifier</button>
		</div>
		@* End: Identifier category *@
		
		@* Begin: Related objects category *@
		<h4><a id="relatedObjectsDivToggleBtn" onclick="toggle('relatedObjectsDiv')" href="javascript:void(0);">– </a>Related objects</h4>
		<div class="category" id="divRelatedObjects">
			@if(presObjInfo.getObjectRelatedObjects().size() > 0) {
				@for((ro,roIndex) <- presObjInfo.getObjectRelatedObjects().zipWithIndex) {
					@relatedObjectsTemplate(ro,roIndex)
				}
			}
		<button type="button" id="addRelatedObjects" onclick="addRelatedObjectFormElements();">Add related object reference</button>
		</div>
		@* End: Related objects category *@
		
		@* Begin: Audit log category *@
		<h4><a id="preservationObjectAuditLogsDivToggleBtn" onclick="toggle('preservationObjectAuditLogsDiv')" href="javascript:void(0);">– </a>PO audit logs</h4>
		<div class="category" id="divPreservationObjectAuditLog">
			@if(presObjInfo.getObjectAuditLog().size() > 0) {
				@for((al,alIndex) <- presObjInfo.getObjectAuditLog().zipWithIndex) {
					@preservationObjectAuditLogTemplate(al,alIndex)
				}
			}
		<button type="button" id="addPreservationObjectAuditLog" onclick="addPreservationObjectAuditLogFormElements();">Add PO audit log</button>
		</div>
		@* End: Audit log category *@
		
		@if(poi == null) {
			<h4>File</h4>
			<input type="file" id="poFile" name="poFile"/>
		}
		
		<div id="div1"></div>
	</fieldSet>
	<br/>
	<button type="button" onclick="savePO();">Save preservation object</button>
	<!-- <input type="submit" value="Save preservation object"/> -->
	</div>
}
</div>