@(ro: org.opensirf.obj.RelatedObjects, index: Int = 0)

@import org.opensirf.obj.RelatedObjects

@relatedObj = @{ if(ro == null) new RelatedObjects() else ro }

<div id="relatedObjectDiv@index">

relatedObjects[@index].reference.type
<input type="text" name="objectRelatedObjects[@index].objectRelatedObjectReference.referenceType" value="@relatedObj.getObjectRelatedObjectReference().getReferenceType()"/>

relatedObjects[@index].reference.role
<input type="text" name="objectRelatedObjects[@index].objectRelatedObjectReference.referenceRole" value="@relatedObj.getObjectRelatedObjectReference().getReferenceRole()"/>

relatedObjects[@index].reference.value
<input type="text" name="objectRelatedObjects[@index].objectRelatedObjectReference.referenceValue" value="@relatedObj.getObjectRelatedObjectReference().getReferenceValue()"/>

<button type="button" id="removeRelatedObjectButton@index" onclick="removeRelatedObjectFormElements(@index);">Remove related object</button>

<p />

</div>