@(r: org.opensirf.obj.Retention)

@import org.opensirf.obj.Retention

@retention = @{ if(r == null) new Retention("","") else r } 

<div id="rDiv">

<dl class=" " id="objectRetention_field">

<dt><label>objectRetention.retentionType:</label></dt>
<dd><input type="text" name="objectRetention.retentionType" value="@retention.getRetentionType()"/></dd>
            
<dt><label>objectRetention.retentionValue:</label></dt>
<dd><input type="text" name="objectRetention.retentionValue" value="@retention.getRetentionValue()" /></dd>

</dl>

</div>